# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyx

# Ambienti virtuali
venv/
env/

# File di sistema e IDE
.vscode/
.DS_Store

# Script batch di Windows
*.bat

# File 
zBuilding/
*.xlsx
*.csv
*.fit